USE [AutoTrackDB]
GO
/****** Object:  Table [dbo].[Customers]    Script Date: 5/19/2026 11:18:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customers](
	[CustomerID] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](50) NOT NULL,
	[LastName] [nvarchar](50) NOT NULL,
	[Phone] [nvarchar](20) NULL,
	[Email] [nvarchar](100) NULL,
	[Address] [nvarchar](255) NULL,
	[CreatedAt] [datetime] NOT NULL,
	[UpdatedAt] [datetime] NULL,
	[UserID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[CustomerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CustomerSubscriptions]    Script Date: 5/19/2026 11:18:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CustomerSubscriptions](
	[SubscriptionID] [int] IDENTITY(1,1) NOT NULL,
	[CustomerID] [int] NOT NULL,
	[PlanID] [int] NOT NULL,
	[StartDate] [date] NOT NULL,
	[EndDate] [date] NULL,
	[Status] [nvarchar](20) NULL,
	[AutoRenew] [bit] NULL,
	[PaymentMethod] [nvarchar](50) NULL,
	[Notes] [nvarchar](500) NULL,
	[CreatedAt] [datetime] NULL,
	[UpdatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[SubscriptionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Inventory]    Script Date: 5/19/2026 11:18:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Inventory](
	[PartID] [int] IDENTITY(1,1) NOT NULL,
	[SupplierID] [int] NULL,
	[PartName] [nvarchar](100) NOT NULL,
	[Category] [nvarchar](50) NOT NULL,
	[Unit] [nvarchar](20) NOT NULL,
	[Quantity] [int] NOT NULL,
	[ReorderLevel] [int] NOT NULL,
	[UnitPrice] [decimal](10, 2) NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[UpdatedAt] [datetime] NULL,
	[IsArchived] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[PartID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Inventory_Backup_20260518]    Script Date: 5/19/2026 11:18:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Inventory_Backup_20260518](
	[PartID] [int] IDENTITY(1,1) NOT NULL,
	[SupplierID] [int] NULL,
	[PartName] [nvarchar](100) NOT NULL,
	[Category] [nvarchar](50) NOT NULL,
	[Unit] [nvarchar](20) NOT NULL,
	[Quantity] [int] NOT NULL,
	[ReorderLevel] [int] NOT NULL,
	[UnitPrice] [decimal](10, 2) NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[UpdatedAt] [datetime] NULL,
	[IsArchived] [bit] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MakeBrands]    Script Date: 5/19/2026 11:18:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MakeBrands](
	[MakeID] [int] IDENTITY(1,1) NOT NULL,
	[MakeName] [nvarchar](100) NOT NULL,
	[SortOrder] [int] NULL,
	[IsActive] [bit] NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[MakeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[MakeName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Notifications]    Script Date: 5/19/2026 11:18:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notifications](
	[NotificationID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[Title] [nvarchar](200) NOT NULL,
	[Message] [nvarchar](1000) NOT NULL,
	[NotificationType] [nvarchar](50) NULL,
	[IsRead] [bit] NULL,
	[RelatedID] [int] NULL,
	[RelatedTable] [nvarchar](100) NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[NotificationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NotificationSettings]    Script Date: 5/19/2026 11:18:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NotificationSettings](
	[SettingID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[EnableEmail] [bit] NULL,
	[EnableSMS] [bit] NULL,
	[EnableInApp] [bit] NULL,
	[ServiceReminder] [bit] NULL,
	[PaymentReminder] [bit] NULL,
	[SubscriptionReminder] [bit] NULL,
	[InventoryAlert] [bit] NULL,
	[EmailAddress] [nvarchar](200) NULL,
	[PhoneNumber] [nvarchar](50) NULL,
	[CreatedAt] [datetime] NULL,
	[UpdatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[SettingID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payments]    Script Date: 5/19/2026 11:18:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payments](
	[PaymentID] [int] IDENTITY(1,1) NOT NULL,
	[ServiceID] [int] NOT NULL,
	[ProcessedBy] [int] NULL,
	[TotalAmount] [decimal](10, 2) NOT NULL,
	[AmountTendered] [decimal](10, 2) NULL,
	[Change]  AS ([AmountTendered]-[TotalAmount]) PERSISTED,
	[PaymentMethod] [nvarchar](20) NOT NULL,
	[PaymentDate] [datetime] NOT NULL,
	[ReceiptNo]  AS ('RCP-'+right('0000'+CONVERT([nvarchar],[PaymentID]),(4))) PERSISTED,
PRIMARY KEY CLUSTERED 
(
	[PaymentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[ServiceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RestockRequests]    Script Date: 5/19/2026 11:18:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RestockRequests](
	[RestockID] [int] IDENTITY(1,1) NOT NULL,
	[PartID] [int] NOT NULL,
	[SupplierID] [int] NULL,
	[RequestedBy] [int] NULL,
	[QuantityRequested] [int] NOT NULL,
	[Status] [nvarchar](20) NOT NULL,
	[RequestDate] [datetime] NOT NULL,
	[DeliveryDate] [datetime] NULL,
	[Notes] [nvarchar](255) NULL,
	[UpdatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[RestockID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ScheduledNotifications]    Script Date: 5/19/2026 11:18:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ScheduledNotifications](
	[ScheduleID] [int] IDENTITY(1,1) NOT NULL,
	[NotificationType] [nvarchar](50) NOT NULL,
	[RecipientID] [int] NOT NULL,
	[RecipientType] [nvarchar](20) NOT NULL,
	[Title] [nvarchar](200) NOT NULL,
	[Message] [nvarchar](1000) NOT NULL,
	[SentVia] [nvarchar](50) NULL,
	[SentDate] [datetime] NULL,
	[Status] [nvarchar](20) NULL,
	[ScheduledFor] [datetime] NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ScheduleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ServiceParts]    Script Date: 5/19/2026 11:18:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ServiceParts](
	[ServicePartID] [int] IDENTITY(1,1) NOT NULL,
	[ServiceID] [int] NOT NULL,
	[PartID] [int] NULL,
	[QuantityUsed] [int] NOT NULL,
	[UnitPrice] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ServicePartID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ServiceRecords]    Script Date: 5/19/2026 11:18:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ServiceRecords](
	[ServiceID] [int] IDENTITY(1,1) NOT NULL,
	[VehicleID] [int] NOT NULL,
	[TechnicianID] [int] NULL,
	[AssignedBy] [int] NULL,
	[ServiceType] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](500) NULL,
	[Status] [nvarchar](20) NOT NULL,
	[DateIn] [date] NOT NULL,
	[EstimatedDate] [date] NULL,
	[DateCompleted] [date] NULL,
	[Notes] [nvarchar](500) NULL,
	[CreatedAt] [datetime] NOT NULL,
	[UpdatedAt] [datetime] NULL,
	[LaborCost] [decimal](18, 2) NULL,
	[PartsCost] [decimal](18, 2) NULL,
	[TotalCost] [decimal](18, 2) NULL,
	[Discount] [decimal](18, 2) NULL,
	[FinalAmount] [decimal](18, 2) NULL,
	[JobOrderNo] [nvarchar](50) NULL,
	[ServiceTypeID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ServiceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ServiceTypes]    Script Date: 5/19/2026 11:18:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ServiceTypes](
	[ServiceTypeID] [int] IDENTITY(1,1) NOT NULL,
	[TypeName] [nvarchar](100) NOT NULL,
	[DefaultLaborCost] [decimal](18, 2) NULL,
	[DefaultPartsCost] [decimal](18, 2) NULL,
	[IsActive] [bit] NULL,
	[SortOrder] [int] NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ServiceTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[TypeName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SubscriptionPlans]    Script Date: 5/19/2026 11:18:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SubscriptionPlans](
	[PlanID] [int] IDENTITY(1,1) NOT NULL,
	[PlanName] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](255) NULL,
	[MonthlyFee] [decimal](10, 2) NOT NULL,
	[ServiceLimit] [int] NULL,
	[DiscountPercent] [int] NULL,
	[Features] [nvarchar](500) NULL,
	[IsActive] [bit] NULL,
	[CreatedAt] [datetime] NULL,
	[UpdatedAt] [datetime] NULL,
	[DurationMonths] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PlanID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SubscriptionUsage]    Script Date: 5/19/2026 11:18:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SubscriptionUsage](
	[UsageID] [int] IDENTITY(1,1) NOT NULL,
	[SubscriptionID] [int] NOT NULL,
	[ServiceID] [int] NOT NULL,
	[UsageDate] [datetime] NULL,
	[ServiceType] [nvarchar](100) NULL,
	[AmountSaved] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[UsageID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Suppliers]    Script Date: 5/19/2026 11:18:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Suppliers](
	[SupplierID] [int] IDENTITY(1,1) NOT NULL,
	[CompanyName] [nvarchar](100) NOT NULL,
	[ContactPerson] [nvarchar](100) NULL,
	[Phone] [nvarchar](20) NULL,
	[Email] [nvarchar](100) NULL,
	[Address] [nvarchar](255) NULL,
	[PartsSupplied] [nvarchar](255) NULL,
	[CreatedAt] [datetime] NOT NULL,
	[UpdatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[SupplierID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Technicians]    Script Date: 5/19/2026 11:18:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Technicians](
	[TechnicianID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[Specialization] [nvarchar](100) NULL,
	[Level] [nvarchar](20) NOT NULL,
	[IsAvailable] [bit] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[TechnicianID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 5/19/2026 11:18:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](100) NOT NULL,
	[Username] [nvarchar](50) NOT NULL,
	[Role] [nvarchar](20) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[UpdatedAt] [datetime] NULL,
	[Password] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Vehicles]    Script Date: 5/19/2026 11:18:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vehicles](
	[VehicleID] [int] IDENTITY(1,1) NOT NULL,
	[CustomerID] [int] NOT NULL,
	[PlateNumber] [nvarchar](20) NOT NULL,
	[Make] [nvarchar](50) NOT NULL,
	[Model] [nvarchar](50) NOT NULL,
	[Year] [int] NOT NULL,
	[Color] [nvarchar](30) NULL,
	[EngineType] [nvarchar](50) NULL,
	[Transmission] [nvarchar](20) NULL,
	[CreatedAt] [datetime] NOT NULL,
	[UpdatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[VehicleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[PlateNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Customers] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[CustomerSubscriptions] ADD  DEFAULT ('Active') FOR [Status]
GO
ALTER TABLE [dbo].[CustomerSubscriptions] ADD  DEFAULT ((1)) FOR [AutoRenew]
GO
ALTER TABLE [dbo].[CustomerSubscriptions] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Inventory] ADD  DEFAULT ('Piece') FOR [Unit]
GO
ALTER TABLE [dbo].[Inventory] ADD  DEFAULT ((0)) FOR [Quantity]
GO
ALTER TABLE [dbo].[Inventory] ADD  DEFAULT ((5)) FOR [ReorderLevel]
GO
ALTER TABLE [dbo].[Inventory] ADD  DEFAULT ((0.00)) FOR [UnitPrice]
GO
ALTER TABLE [dbo].[Inventory] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Inventory] ADD  DEFAULT ((0)) FOR [IsArchived]
GO
ALTER TABLE [dbo].[MakeBrands] ADD  DEFAULT ((0)) FOR [SortOrder]
GO
ALTER TABLE [dbo].[MakeBrands] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[MakeBrands] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Notifications] ADD  DEFAULT ('Info') FOR [NotificationType]
GO
ALTER TABLE [dbo].[Notifications] ADD  DEFAULT ((0)) FOR [IsRead]
GO
ALTER TABLE [dbo].[Notifications] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[NotificationSettings] ADD  DEFAULT ((1)) FOR [EnableEmail]
GO
ALTER TABLE [dbo].[NotificationSettings] ADD  DEFAULT ((0)) FOR [EnableSMS]
GO
ALTER TABLE [dbo].[NotificationSettings] ADD  DEFAULT ((1)) FOR [EnableInApp]
GO
ALTER TABLE [dbo].[NotificationSettings] ADD  DEFAULT ((1)) FOR [ServiceReminder]
GO
ALTER TABLE [dbo].[NotificationSettings] ADD  DEFAULT ((1)) FOR [PaymentReminder]
GO
ALTER TABLE [dbo].[NotificationSettings] ADD  DEFAULT ((1)) FOR [SubscriptionReminder]
GO
ALTER TABLE [dbo].[NotificationSettings] ADD  DEFAULT ((1)) FOR [InventoryAlert]
GO
ALTER TABLE [dbo].[NotificationSettings] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[NotificationSettings] ADD  DEFAULT (getdate()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[Payments] ADD  DEFAULT ((0.00)) FOR [TotalAmount]
GO
ALTER TABLE [dbo].[Payments] ADD  DEFAULT ('Cash') FOR [PaymentMethod]
GO
ALTER TABLE [dbo].[Payments] ADD  DEFAULT (getdate()) FOR [PaymentDate]
GO
ALTER TABLE [dbo].[RestockRequests] ADD  DEFAULT ((1)) FOR [QuantityRequested]
GO
ALTER TABLE [dbo].[RestockRequests] ADD  DEFAULT ('Pending') FOR [Status]
GO
ALTER TABLE [dbo].[RestockRequests] ADD  DEFAULT (getdate()) FOR [RequestDate]
GO
ALTER TABLE [dbo].[ScheduledNotifications] ADD  DEFAULT ('Pending') FOR [Status]
GO
ALTER TABLE [dbo].[ScheduledNotifications] ADD  DEFAULT (getdate()) FOR [ScheduledFor]
GO
ALTER TABLE [dbo].[ScheduledNotifications] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[ServiceParts] ADD  DEFAULT ((1)) FOR [QuantityUsed]
GO
ALTER TABLE [dbo].[ServiceParts] ADD  DEFAULT ((0.00)) FOR [UnitPrice]
GO
ALTER TABLE [dbo].[ServiceRecords] ADD  DEFAULT ('Pending') FOR [Status]
GO
ALTER TABLE [dbo].[ServiceRecords] ADD  DEFAULT (CONVERT([date],getdate())) FOR [DateIn]
GO
ALTER TABLE [dbo].[ServiceRecords] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[ServiceRecords] ADD  DEFAULT ((0)) FOR [LaborCost]
GO
ALTER TABLE [dbo].[ServiceRecords] ADD  DEFAULT ((0)) FOR [PartsCost]
GO
ALTER TABLE [dbo].[ServiceRecords] ADD  DEFAULT ((0)) FOR [TotalCost]
GO
ALTER TABLE [dbo].[ServiceRecords] ADD  DEFAULT ((0)) FOR [Discount]
GO
ALTER TABLE [dbo].[ServiceRecords] ADD  DEFAULT ((0)) FOR [FinalAmount]
GO
ALTER TABLE [dbo].[ServiceTypes] ADD  DEFAULT ((0)) FOR [DefaultLaborCost]
GO
ALTER TABLE [dbo].[ServiceTypes] ADD  DEFAULT ((0)) FOR [DefaultPartsCost]
GO
ALTER TABLE [dbo].[ServiceTypes] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[ServiceTypes] ADD  DEFAULT ((0)) FOR [SortOrder]
GO
ALTER TABLE [dbo].[ServiceTypes] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[SubscriptionPlans] ADD  DEFAULT ((0)) FOR [DiscountPercent]
GO
ALTER TABLE [dbo].[SubscriptionPlans] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[SubscriptionPlans] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[SubscriptionPlans] ADD  DEFAULT ((1)) FOR [DurationMonths]
GO
ALTER TABLE [dbo].[SubscriptionUsage] ADD  DEFAULT (getdate()) FOR [UsageDate]
GO
ALTER TABLE [dbo].[SubscriptionUsage] ADD  DEFAULT ((0)) FOR [AmountSaved]
GO
ALTER TABLE [dbo].[Suppliers] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Technicians] ADD  DEFAULT ('Junior') FOR [Level]
GO
ALTER TABLE [dbo].[Technicians] ADD  DEFAULT ((1)) FOR [IsAvailable]
GO
ALTER TABLE [dbo].[Technicians] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Vehicles] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[CustomerSubscriptions]  WITH CHECK ADD FOREIGN KEY([CustomerID])
REFERENCES [dbo].[Customers] ([CustomerID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CustomerSubscriptions]  WITH CHECK ADD FOREIGN KEY([PlanID])
REFERENCES [dbo].[SubscriptionPlans] ([PlanID])
GO
ALTER TABLE [dbo].[Inventory]  WITH CHECK ADD FOREIGN KEY([SupplierID])
REFERENCES [dbo].[Suppliers] ([SupplierID])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Notifications]  WITH CHECK ADD  CONSTRAINT [FK_Notifications_Users] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Notifications] CHECK CONSTRAINT [FK_Notifications_Users]
GO
ALTER TABLE [dbo].[NotificationSettings]  WITH CHECK ADD  CONSTRAINT [FK_NotificationSettings_Users] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[NotificationSettings] CHECK CONSTRAINT [FK_NotificationSettings_Users]
GO
ALTER TABLE [dbo].[Payments]  WITH CHECK ADD FOREIGN KEY([ProcessedBy])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Payments]  WITH CHECK ADD FOREIGN KEY([ServiceID])
REFERENCES [dbo].[ServiceRecords] ([ServiceID])
GO
ALTER TABLE [dbo].[RestockRequests]  WITH CHECK ADD FOREIGN KEY([PartID])
REFERENCES [dbo].[Inventory] ([PartID])
GO
ALTER TABLE [dbo].[RestockRequests]  WITH CHECK ADD FOREIGN KEY([RequestedBy])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[RestockRequests]  WITH CHECK ADD FOREIGN KEY([SupplierID])
REFERENCES [dbo].[Suppliers] ([SupplierID])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[ServiceParts]  WITH CHECK ADD FOREIGN KEY([PartID])
REFERENCES [dbo].[Inventory] ([PartID])
GO
ALTER TABLE [dbo].[ServiceParts]  WITH CHECK ADD FOREIGN KEY([ServiceID])
REFERENCES [dbo].[ServiceRecords] ([ServiceID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ServiceRecords]  WITH CHECK ADD FOREIGN KEY([AssignedBy])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[ServiceRecords]  WITH CHECK ADD FOREIGN KEY([TechnicianID])
REFERENCES [dbo].[Technicians] ([TechnicianID])
GO
ALTER TABLE [dbo].[ServiceRecords]  WITH CHECK ADD FOREIGN KEY([VehicleID])
REFERENCES [dbo].[Vehicles] ([VehicleID])
GO
ALTER TABLE [dbo].[ServiceRecords]  WITH CHECK ADD  CONSTRAINT [FK_ServiceRecords_ServiceTypes] FOREIGN KEY([ServiceTypeID])
REFERENCES [dbo].[ServiceTypes] ([ServiceTypeID])
GO
ALTER TABLE [dbo].[ServiceRecords] CHECK CONSTRAINT [FK_ServiceRecords_ServiceTypes]
GO
ALTER TABLE [dbo].[ServiceRecords]  WITH CHECK ADD  CONSTRAINT [FK_ServiceRecords_Users] FOREIGN KEY([AssignedBy])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[ServiceRecords] CHECK CONSTRAINT [FK_ServiceRecords_Users]
GO
ALTER TABLE [dbo].[SubscriptionUsage]  WITH CHECK ADD FOREIGN KEY([ServiceID])
REFERENCES [dbo].[ServiceRecords] ([ServiceID])
GO
ALTER TABLE [dbo].[SubscriptionUsage]  WITH CHECK ADD FOREIGN KEY([SubscriptionID])
REFERENCES [dbo].[CustomerSubscriptions] ([SubscriptionID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Technicians]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Vehicles]  WITH CHECK ADD FOREIGN KEY([CustomerID])
REFERENCES [dbo].[Customers] ([CustomerID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Payments]  WITH CHECK ADD CHECK  (([PaymentMethod]='BankTransfer' OR [PaymentMethod]='Card' OR [PaymentMethod]='GCash' OR [PaymentMethod]='Cash'))
GO
ALTER TABLE [dbo].[RestockRequests]  WITH CHECK ADD CHECK  (([Status]='Cancelled' OR [Status]='Delivered' OR [Status]='Approved' OR [Status]='Pending'))
GO
ALTER TABLE [dbo].[ServiceRecords]  WITH CHECK ADD CHECK  (([Status]='Cancelled' OR [Status]='Completed' OR [Status]='InProgress' OR [Status]='Pending'))
GO
ALTER TABLE [dbo].[Technicians]  WITH CHECK ADD  CONSTRAINT [CK_Technician_Level] CHECK  (([Level]='Trainee' OR [Level]='Apprentice' OR [Level]='Journeyman' OR [Level]='Master' OR [Level]='Senior' OR [Level]='Junior'))
GO
ALTER TABLE [dbo].[Technicians] CHECK CONSTRAINT [CK_Technician_Level]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [CK__Users__Role__4BAC3F29] CHECK  (([Role]='Customer' OR [Role]='Supplier' OR [Role]='Technician' OR [Role]='Staff' OR [Role]='Admin' OR [Role]='SuperAdmin'))
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [CK__Users__Role__4BAC3F29]
GO
/****** Object:  StoredProcedure [dbo].[sp_CreateRestockRequest]    Script Date: 5/19/2026 11:18:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_CreateRestockRequest]
    @PartID INT,
    @SupplierID INT,
    @RequestedBy VARCHAR(100),
    @QuantityRequested INT,
    @Notes VARCHAR(500) = NULL,
    @RestockID INT OUTPUT,
    @ErrorMessage VARCHAR(255) OUTPUT
AS
BEGIN
    SET NOCOUNT ON;
    
    BEGIN TRY
        -- Check for existing pending request
        IF EXISTS (
            SELECT 1 
            FROM [AutoTrackDB].[dbo].[RestockRequests]
            WHERE PartID = @PartID 
              AND [Status] = 'pending'
        )
        BEGIN
            SET @ErrorMessage = 'A pending restock request for this part already exists. Please wait for it to complete.';
            SET @RestockID = NULL;
            RETURN 1; -- Error code
        END;
        
        -- Insert new request
        INSERT INTO [AutoTrackDB].[dbo].[RestockRequests] (
            PartID,
            SupplierID,
            RequestedBy,
            QuantityRequested,
            [Status],
            RequestDate,
            Notes,
            UpdatedAt
        )
        VALUES (
            @PartID,
            @SupplierID,
            @RequestedBy,
            @QuantityRequested,
            'pending',
            GETDATE(),
            @Notes,
            GETDATE()
        );
        
        SET @RestockID = SCOPE_IDENTITY();
        SET @ErrorMessage = NULL;
        RETURN 0; -- Success
        
    END TRY
    BEGIN CATCH
        SET @ErrorMessage = ERROR_MESSAGE();
        SET @RestockID = NULL;
        RETURN 2; -- Database error
    END CATCH
END;
GO
